OPEN_LIBRARY_CONTACT_EMAIL=feedback@hcwebsolutions.com.br
OPEN_LIBRARY_APPLICATION_NAME=EntreCapitulos/1.0
BOOK_CATALOG_ALLOWED_ORIGINS=http://localhost:5173,https://preview.hcwebsolutions.com.br
BOOK_CATALOG_ALLOW_NO_ORIGIN=false
BOOK_CATALOG_REQUESTS_PER_MINUTE=60
OPEN_LIBRARY_TIMEOUT_MS=8000
